<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="questions">
    <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
      <label>
        Question Type:
        <select formControlName="type" (input)="onTypeChange($event, i)" class="question-type-dropdown">
          <option value="">Select Question Type</option>
          <option value="short">Short Answer</option>
          <option value="long">Long Answer</option>
          <option value="multiple">Multiple Choice</option>
          <option value="checkbox">Checkbox</option>
          <option value="time">Time</option>
          <option value="date">Date</option>
        </select>
      </label>
      <label>
        Question:
        <input formControlName="question" type="text" class="input-text" required>
      </label>
      <div [ngSwitch]="question.get('type')?.value">
        <div *ngSwitchCase="'short'">
          <label>
            Answer:
            <input formGroupName="answer" formControlName="response" type="text" class="input-text">
          </label>
        </div>
        <div *ngSwitchCase="'long'">
          <label>
            Answer:
            <textarea formGroupName="answer" formControlName="response" class="textarea"></textarea>
          </label>
        </div>
        <div *ngSwitchCase="'multiple'">
          <div formGroupName="answer">
            <div formArrayName="options">
              <label>
                Options:
                <div *ngFor="let option of getOptions(i).controls; let j = index" [formGroupName]="j">
                  <input type="radio" [value]="option.value.value" (change)="onRadioChange($event, i)" class="input-radio">
                  <input formControlName="value" type="text" class="input-option">
                </div>
              </label>
              <button type="button" (click)="addOption(i)" class="addoption">Add Option</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'checkbox'">
          <div formGroupName="answer">
            <div formArrayName="options">
              <label>
                Options:
                <div *ngFor="let option of getOptions(i).controls; let j = index" [formGroupName]="j">
                  <input type="checkbox" [value]="option.value.value" (change)="onCheckboxChange($event, i)" class="input-checkbox">
                  <input formControlName="value" type="text" class="input-option">
                </div>
              </label>
              <button type="button" (click)="addOption(i)" class="addoption">Add Option</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'time'">
          <label>
            Time:
            <input type="time" formGroupName="answer" formControlName="response" class="input-time">
          </label>
        </div>
        <div *ngSwitchCase="'date'">
          <label>
            Date:
            <input type="date" formGroupName="answer" formControlName="response" class="input-date">
          </label>
        </div>
      </div>
      <button type="button" class="remove" (click)="removeQuestion(i)">Remove Question</button>
    </div>
  </div>
  <div class="types">
    <select #questionTypeDropdown (input)="onTypeSelect($event, questionTypeDropdown)" class="question-type-dropdown">
      <option value="">Select Question Type</option>
      <option value="short">Short Answer</option>
      <option value="long">Long Answer</option>
      <option value="multiple">Multiple Choice</option>
      <option value="checkbox">Checkbox</option>
      <option value="time">Time</option>
      <option value="date">Date</option>
    </select>
  </div>
  <div class="submitform">
    <button type="submit" class="">Submit</button>
  </div>
</form>
