
<div class="displayform-container">
  <div class="displayform">
    <form [formGroup]="form">
      <div formArrayName="questionsListFormArray">
        <div
          *ngFor="let questionGroup of formGroups; let i = index"
          [formGroup]="questionGroup"
        >
          <label class="mb-2">
            {{ questionGroup.get('questionText')?.value }}
            <span *ngIf="isRequired(questionGroup)" class="required">*</span>
          </label>
          <div [ngSwitch]="questionGroup.get('questionType')?.value" class="mb-3">
            <div *ngSwitchCase="'short'">
              <input
                formControlName="answer"
                type="text"
                [placeholder]="questionGroup.get('placeholder')?.value"
                class="input-text"
              />
            </div>
            <div *ngSwitchCase="'long'">
              <textarea
                formControlName="answer"
                [placeholder]="questionGroup.get('placeholder')?.value"
                class="textarea"
              ></textarea>
            </div>
            <div *ngSwitchCase="'multiple'">
              <div formArrayName="options">
                <div
                  *ngFor="let option of $any(questionGroup.get('options'))?.controls; let j = index"
                  [formGroup]="option"
                  class="option-value"
                >
                  <input type="radio" class="input-radio" />
                  <input
                    formControlName="value"
                    type="text"
                    class="input-option"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'checkbox'">
              <div formArrayName="options">
                <div
                  *ngFor="let option of $any(questionGroup.get('options'))?.controls; let j = index"
                  [formGroup]="option"
                >
                  <input type="checkbox" class="input-checkbox" />
                  <input
                    formControlName="value"
                    type="text"
                    class="input-option"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'time'">
              <input
                formControlName="answer"
                type="time"
                class="input-time"
              />
            </div>
            <div *ngSwitchCase="'date'">
              <input
                formControlName="answer"
                type="date"
                class="input-date"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

